/*
Farben
Border
Schatten
Typografie
interne Layoutstruktur einer Komponente
Variationen durch Modifier (--)
*/


/*      Ce fichier contient les grand blocks comme le burger et les cards         */


/*      burger      */

@media (max-width: 1199px) {
    #burger_menu, .burger_menu{
        grid-area: burger;
    }
    .nav__header h2, .logo_image, .skip{
        grid-area: logo;
    }
    .nav__container__header{
        grid-area: menu;
        margin-top: var(--margin-padding-64);
    }
    .nav__header{
        display: grid;
        grid-template-areas: "logo burger"
          "menu . "
            "profil .";
        grid-gap: 1fr;
        justify-content: space-between;
        align-items: center;
    }
    .nav__item__header{
        margin-bottom: var(--margin-padding-64);
    }
    .header{
        width: 100% ; /* width complète */
        padding: var(--desktop16) var(--subtitles-24-desktop);
    }
    .nav__header #burger_menu:not(:checked) ~ .nav__container__header, #burger_menu[type="checkbox"] {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    /*    BURGER Menu   */
    input[type="checkbox"]:checked ~ .nav__header {
        left: 0
    }



    /*Animation du X dans le Burger */
    .burger_menu path {
        transition: all .25s;
        overflow: auto;
    }
    input[type="checkbox"]:checked ~ .burger_menu {
        path:first-of-type {
            transform-origin: center;
            transform: rotate(45deg) translateY(calc(50% - 2px));
        }
        path:nth-of-type(2) {
            transform-origin: center;
            transform: scale(0);
        }
        path:last-of-type {
            transform-origin: center;
            transform: rotate(-45deg) translateY(calc(-50% + 2px));
        }
    }


    .nav__header #burger_menu:checked ~ .nav__container__header{
        min-height: 100vh;
    }





    .m-l-r-main{
        margin-left: var(--margin-padding-24);
        margin-right: var(--margin-padding-24);
    }




    .product-card{

        height: auto;
        border-radius: var(--borderradius-16);

        img{
            width: 100%;
            height: auto;
        }

        .card-productname{
            background-color: var(--white);
            color: var(--black);
        }
    }
    .hp-prod-title{
        font-size: var(--mobile-title);
            margin-top: var(--margin-padding-139);

    }

    .img-button{
        margin-bottom: var(--margin-padding-64);
        max-width: var(--max-w-input-desktop);
    }



    .page-sub-title{
        font-size: var(--mobile-subtitle);
        margin-bottom: var(--margin-padding-64);
    }


    .fs-dt{
        font-size: var(--mobile-subtitle);
    }
    .fs-dd{
        font-size: var(--mobile-text);
    }





    dl:last-of-type .dd-margin:last-of-type{
        margin-bottom: 0;
    }


    .fs-page-title{
        font-size: var(--mobile-title);
        margin-bottom: var(--margin-padding-64);
    }
    .margin-first-content-top{
        margin-top: var(--margin-padding-139);
    }

    .section-end-64{
        margin-bottom: var(--margin-padding-64);
    }

    dl:last-of-type.orders-end-64{
        margin-bottom: 0;
    }

    .background-dark{
        padding: var(--margin-padding-24);
    }

    .product-detail-img{
        margin-bottom: var(--margin-padding-64);
    }

    .login-section {
        padding: var(--margin-padding-40) var(--margin-padding-16);

        h2{
            font-size: var(--mobile-title);
        }
        .reset-info{
            font-size: var(--mobile-text);
        }
    }








}

/*    DESKTOP     */

@media (min-width: 1200px) {
    #burger_menu, .burger_menu {
        display: none;
    }

    .header {
        padding-top: 40px; /*22px*/
        background-color: transparent;
    }

    .nav__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1224px; /*1224px*/
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: var(--margin-padding-136);
    }

    .nav__container__header{
        display: flex;
        gap: var(--margin-padding-64);
        background-color: transparent;
    }

    .m-l-r-main{
        margin-left: auto;
        margin-right: auto;
    }
    .body-content{
        max-width: var(--max-w-worker-big-desktop);
    }

    .page-sub-title{
        margin-bottom: var(--margin-padding-64);
        font-size: var(--subtitles-24-desktop);
    }

    .page-title{
        font-size: var(--title-desktop);
    }

    .nav__item__header{
        font-size: var(--productname-desktop);
    }
    .fs-dt{
        font-size: var(--productname-desktop);
    }

    .background-dark{
        padding: var(--margin-padding-40);
    }


    .product-details{
        display: flex;
        flex-direction: row-reverse;
        gap: var(--margin-padding-64);

        dd{
            margin-bottom: var(--margin-padding-64);
        }
    }

    .login-section{
        padding: var(--margin-padding-40);

        h2{
            font-size: var(--dashboard-title-desktop);
        }
        .reset-info{
            font-size: var(--desktop16);
        }
        .auth-input{
            padding: var(--margin-padding-16);
            margin: var(--margin-padding-8) 0 var(--margin-padding-32) 0;
        }
        .return-link{
            margin-bottom: var(--margin-padding-64);
            font-size: var(--productname-desktop);
        }
        button[type="submit"]{
            padding: var(--margin-padding-24) ;
            width: 100%;
            font-size: var(--subtitles-24-desktop);
        }
        .auth-label{
            font-size: var(--productname-desktop);
        }
        .add-info{
            font-size: var(--productname-desktop);
        }
    }

}



@media (max-width: 999px) {
    .big-logo{
        display: none;
    }

}

@media (min-width: 1000px) {
    .small-logo{
        display: none;
    }
}



.background-worker{
    background-image: url("/resources/img/background.jpg") ;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    height: 100vh;
    width: 100vw;
}


.product-card img{
    width: 288px;
    height: auto;
    object-fit: cover;
}

.card-productname{
    font-size: var(--desktop16);
}


.product-card img{
    border-top-left-radius: var(--borderradius-16);
    border-top-right-radius: var(--borderradius-16);
}
.product-card .card-productname{
    border-bottom-left-radius: var(--borderradius-16);
    border-bottom-right-radius: var(--borderradius-16);
}

.card-productname{
    background-color: var(--white);
    color: var(--black);
    padding: var(--margin-padding-16);
}

.section-end-128{
    margin-bottom: var(--margin-padding-128);
}

.hp-prod-title{
    margin-bottom: var(--margin-padding-128);
}


.background-dark{
    background-color: var(--dark-background-transparent);
}


.dt-margin{
    margin-bottom: var(--margin-padding-16);
}

.dd-margin{
    margin-bottom: var(--margin-padding-32);
}


.body-content{
    padding-bottom: var(--margin-padding-64);
}


.product-details{
    img{
        width: 100%;
        height: auto;
        max-width: 392px;
        max-height: 392px;

    }
}

.orders-end-64{
    margin-bottom: var(--margin-padding-64);
}


.increment_fields{
    color: var(--black);
    width: 100%;
}

.border-b-dark{
    border-bottom: 1px solid var(--dark-red);
}


.border-r-top{
    border-top-left-radius: var(--borderradius-16);
    border-top-right-radius: var(--borderradius-16);
}

.border-r-bottom{
    border-bottom-left-radius: var(--borderradius-16);
    border-bottom-right-radius: var(--borderradius-16);
}

.order-form-btn{
    width: 100%;
}

.incr-input{
    max-width: var(--margin-padding-64);
}


.field__select{
    label{
        margin-bottom: var(--margin-padding-8);
    }
    select{
        margin-bottom: var(--margin-padding-32);
    }
}

.background-white{
    background-color: var(--white);
}


.submit-order-btn{
    margin-top: var(--margin-padding-128);
}

.w-100{
    width: 100%;
}

body:has(.login-section){
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.login-section{
    max-width: var(--max-w-auth-desktop);

    h2{
        margin-bottom: var(--margin-padding-32);
        margin-top: var(--margin-padding-24);
    }

    .auth-input{
        padding: var(--margin-padding-16);
        margin: var(--margin-padding-8) 0 var(--margin-padding-32) 0;
    }
    .return-link{
        margin-bottom: var(--margin-padding-64);
    }
    button[type="submit"]{
        padding: var(--margin-padding-24) ;
        width: 100%;
    }
}

.border-input{
    border: 1px solid var(--dark-red);
}
