/*
display: grid / flex
gap
globale margin-Strategien (z. B. „flow“-Klassen)
max-width / centering
*/


.d-block{
    display: block;
}

.d-block{
    display: block;
}

.d-flex{
 display: flex;
}

.flex-gap-24{
    gap: var(--gap-24);
}

.flex-gap-32{
    gap: var(--gap-32);
}

.flex-gap-12{
    gap: var(--gap-12);
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-col-reverse{
    flex-direction: column-reverse;
}

.flex-dir-col{
    flex-direction: column;
}

.flex-cr{
    flex-direction: column-reverse;
}

.flex-c{
    flex-direction: column;
}


.m-b-24{
    margin-bottom: var(--margin-padding-24);
}

.mb-64{
    margin-bottom: var(--margin-padding-64);
}

.m-b-32{
    margin-bottom: var(--margin-padding-32);
}

.m-b-64{
    margin-bottom: var(--margin-padding-64);
}

.m-b-16{
    margin-bottom: var(--margin-padding-16);
}

.mb-32{
    margin-bottom: var(--margin-padding-32);
}

.mb-12{
    margin-bottom: var(--margin-padding-12);
}

.m-t-24{
    margin-top: var(--margin-padding-24);
}

.m-t-16{
    margin-top: var(--margin-padding-16);
}

.m-t-64{
    margin-top: var(--margin-padding-64);
}

.m-t-32{
    margin-top: var(--margin-padding-32);
}

.m-t-neg-16{
    margin-top: calc(var(--margin-padding-16)*-1);
}

.m-l-16{
    margin-left: var(--margin-padding-16);
}

.m-l-auto{
    margin-left: auto;
}

.p-t-b-16{
    padding-bottom: var(--margin-padding-16);
    padding-top: var(--margin-padding-16);
}

.p-12-16{
    padding: var(--margin-padding-12) var(--margin-padding-16);
}

.p-16{
    padding: var(--margin-padding-16);
}

.min-w-100{
    width: 100%;
}

.max-w-560{
    max-width: var(--max-w-field-desktop);
}

.min-w-full{
    min-width: 100%;
}

.flex-j-c-space-between{
justify-content: space-between;
}

.position-relative{
    position: relative;
}
